{% extends 'base.html'%}
{% block title %}{{post.title}}
{% endblock%}
{% block content%}
<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{{post.title}} </h1>
         <small> <p class=" text-muted">By: {{post.author}} | {{post.created_on}}
              {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
              |<a href="{% url 'update_post' post.pk %}"> Edit </a> |
              <a href="{% url 'delete_post' post.pk %}"> Delete </a>
             {% endif %}
          {% endif %}</p></small>
             <hr/>
          <p class="card-text ">{{post.body}}</p>

      </div>

      <br/>
<br/>
<hr/>
        {% if user.is_authenticated %}
 <form action="{% url 'like_post' post.pk %}" method="post">
     {%csrf_token %}
     {% if is_liked %}

     <button type="submit", name="post_id", value={{post.id}} class="btn btn-primary btn-sm">Unlike</button>
     {% else %}
     <button type="submit", name="post_id", value={{post.id}} class="btn btn-primary btn-sm">Like</button>
     {%endif %}
 </form>
        {% endif %}
        <br/>
        </div>

      <div class="col-md-12 card mb-4  mt-3 ">
      <div class="card-body">
<h2>Comments</h2>
{% if not post.comments.all %}
    No comments yet.. <a href="{% url 'add_comment' post.pk %}">Add one</a>
{% else %}
    <a href="{% url 'add_comment' post.pk %}">Add comments</a><br/><hr/>
    {% for comment in post.comments.all %}
        <strong>
            {{comment.name}} -
            {{comment.date_added}}
        </strong>
        <br/>
        {{comment.body}}
    <br/><br/>
    {% endfor %}
{% endif %}
      </div>
      </div>

  </div>
</div>
{% endblock %}
